<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documento PDF</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="headerImage">
          <img
            src="./images/brasaooficialcolorido.png"
            alt="Brasão da República Federativa do Brasil, com estrelas, ramos de café e tabaco, espada e o lema 'República Federativa do Brasil"
          />
        </div>
        <div class="headerText">
          <p>Ministério da Educação</p>
          <p>Universidade Tecnológica Federal do Paraná</p>
          <p>Diretoria de Relações Empresariais e Comunitárias</p>
          <p>Departamento de Extensão</p>
        </div>
        <div class="headerImage">
          <img
            src="./images/logo.png"
            alt="Logotipo da UTFPR - Universidade Tecnológica Federal do Paraná"
          />
        </div>
      </div>
      <div class="docTitle">
        <h3>TERMO DE ADESÃO PARA VOLUNTÁRIO(A)</h3>
      </div>
      <div class="dadosInstituicao">
        <div class="dadosInstituicaoTitulo">
          <span>Dados da Instituição</span>
        </div>
        <div class="instituicao">
          <span>Instituição: </span
          ><span>Universidade Tecnológica Federal do Paraná - UTFPR</span>
        </div>
        <div class="campus">
          <span>Câmpus: </span><span>Cornélio Procópio</span>
        </div>
      </div>
      <div class="dadosAcao">
        <div class="dadosAcaoTitulo">
          <span>Dados da ação</span>
        </div>
        <div class="dadosAcaoInfo">
          <span>Título da ação: </span
          ><span class="tituloAcao"
            >ELLP (Ensino Lúdico de Lógica e Programação)</span
          >
        </div>
        <div class="modalidade">
          <div class="modalidadeTitulo">
            <span>Modalidade:</span>
          </div>
          <div class="modalidadeOpcoes">
            <span>( ) programa</span>
            <span>(X) projeto</span>
            <span>( ) evento</span>
            <span>( ) curso</span>
          </div>
        </div>
        <div class="linhaVigencia">
          <div class="tituloVigencia">
            <span>Vigência</span>
          </div>
          <div class="inicioVigencia">
            <span>Inicio: </span>
            <span>15/08/2022</span>
          </div>
          <div class="terminoVigencia">
            <span>Término: </span>
            <span>11/08/2023</span>
          </div>
        </div>
      </div>
      <div class="dadosCoordenacao">
        <div class="dadosCoordenacaoTitulo">
          <span>Dados da coordenação da ação</span>
        </div>
        <div class="coordenacaoNomeRow">
          <span>Nome:</span>
          <span class="coordenacaoNome">Roberto Carlos Fernandes da Silva</span>
        </div>
        <div class="cpfDepRow">
          <div class="cpfBox">
            <span>CPF: </span>
            <span class="cpf">000.000.000-00</span>
          </div>
          <div class="depBox">
            <span>Departamento: </span>
            <span class="departamento">DACOM</span>
          </div>
        </div>
        <div class="foneEmailRow">
          <div class="foneBox">
            <span>Fone: </span>
            <span>( 43 ) 990000000</span>
          </div>
          <div class="emailBox">
            <span>Email: </span>
            <span>roberto@email.com</span>
          </div>
        </div>
      </div>
      <div class="dadosVoluntario">
        <div class="dadosVoluntarioTitulo">
          <span>Dados do(a) Voluntário(a)</span>
        </div>
        <div class="nomeNascRow">
          <div class="nomeBox">
            <span>Nome: </span>
            <span>Fulano Ribeiro Santos Almeida</span>
          </div>
          <div class="nascBox">
            <span>Data nascimento: </span>
            <span>09/03/2000</span>
          </div>
        </div>
        <div class="cpfNacioRow">
          <div class="cpfVolBox">
            <span>CPF: </span>
            <span>000.000.000-00</span>
          </div>
          <div class="nacioBox">
            <span>Nacionalidade: </span>
            <span>Brasileiro</span>
          </div>
        </div>
        <div class="eEstudanteRow">
          <span>É estudante da UTFPR: </span>
          <span class="eEstudanteOpcao">(X) Sim </span>
          <span class="eEstudanteOpcao">( ) Não </span>
        </div>
        <div class="curPerRaRow">
          <div class="curBox">
            <span>Curso: </span>
            <span>Engenharia de Controle e automação</span>
          </div>
          <div class="perBox">
            <span>Período: </span>
            <span>6</span>
          </div>
          <div class="raBox">
            <span>RA: </span>
            <span>0000000</span>
          </div>
        </div>
        <div class="enderecoRow">
          <span>Endereço: </span>
          <span>Rua Ordem e Progresso, 1230</span>
        </div>
        <div class="cidEstRow">
          <div class="cidBox">
            <span>Cidade: </span>
            <span>Cornélio Procópio</span>
          </div>
          <div class="estBox">
            <span>Estado: </span>
            <span>PR</span>
          </div>
        </div>
        <div class="foneEmailVolRow">
          <div class="foneBoxVol">
            <span>Fone: </span>
            <span>(43) 900000000</span>
          </div>
          <div class="emailBoxVol">
            <span>Email: </span>
            <span>fulano@email.com</span>
          </div>
        </div>
      </div>
      <div class="sintese">
        <div class="sinteseTitulo">
          <span
            >Síntese das atividades a serem desenvolvidas pelo(a)
            voluntário(a)</span
          >
        </div>
        <div class="sinteseRow">
          <span>1 </span>
          <span>Pesquisa de tópicos em ciência e tecnologia</span>
        </div>
        <div class="sinteseRow">
          <span>2 </span>
          <span
            >Produção de textos educativos e atividades para redes sociais</span
          >
        </div>
        <div class="sinteseRow">
          <span>3 </span>
          <span>Elaboração de material para as oficinas</span>
        </div>
        <div class="sinteseRow">
          <span>4 </span>
          <span>Produção de atividades lúdicas</span>
        </div>
        <div class="sinteseRow">
          <span>5 </span>
          <span>Divulgação de oficinas do projeto</span>
        </div>
        <div class="sinteseRow">
          <span>6 </span>
          <span>Ministrar oficinas</span>
        </div>
        <div class="sinteseRow">
          <span>7 </span>
          <span>Descrever resultados e avaliar o andamento do projeto</span>
        </div>
        <div class="sinteseRow">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
        <div class="sinteseRow">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
        <div class="sinteseRow">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
        <div class="sinteseRow">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>

    <div class="page-break"></div>

    <div class="page">
      <!-- Conteúdo da página 2 -->
    </div>

    <div class="page">
      <!-- Conteúdo da página 3 -->
    </div>
  </body>
</html>
