<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Termo de Adesão para Voluntário</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="headerImage">
          <img
            src="./images/brasaooficialcolorido.png"
            alt="Brasão da República Federativa do Brasil, com estrelas, ramos de café e tabaco, espada e o lema 'República Federativa do Brasil"
          />
        </div>
        <div class="headerText">
          <p>Ministério da Educação</p>
          <p>Universidade Tecnológica Federal do Paraná</p>
          <p>Diretoria de Relações Empresariais e Comunitárias</p>
          <p>Departamento de Extensão</p>
        </div>
        <div class="headerImage">
          <img
            src="./images/logo.png"
            alt="Logotipo da UTFPR - Universidade Tecnológica Federal do Paraná"
          />
        </div>
      </div>
      <div class="docTitle">
        <h3>TERMO DE ADESÃO PARA VOLUNTÁRIO(A)</h3>
      </div>
      <div class="dadosInstituicao">
        <div class="dadosInstituicaoTitulo">
          <span>Dados da Instituição</span>
        </div>
        <div class="instituicao">
          <span>Instituição: </span
          ><span>Universidade Tecnológica Federal do Paraná - UTFPR</span>
        </div>
        <div class="campus">
          <span>Câmpus: </span><span>Cornélio Procópio</span>
        </div>
      </div>
      <div class="dadosAcao">
        <div class="dadosAcaoTitulo">
          <span>Dados da ação</span>
        </div>
        <div class="dadosAcaoInfo">
          <span>Título da ação: </span
          ><span class="tituloAcao"
            >ELLP (Ensino Lúdico de Lógica e Programação)</span
          >
        </div>
        <div class="modalidade">
          <div class="modalidadeTitulo">
            <span>Modalidade:</span>
          </div>
          <div class="modalidadeOpcoes">
            <span>( ) programa</span>
            <span>(X) projeto</span>
            <span>( ) evento</span>
            <span>( ) curso</span>
          </div>
        </div>
        <div class="linhaVigencia">
          <div class="tituloVigencia">
            <span>Vigência</span>
          </div>
          <div class="inicioVigencia">
            <span>Inicio: </span>
            <span>15/08/2022</span>
          </div>
          <div class="terminoVigencia">
            <span>Término: </span>
            <span>11/08/2023</span>
          </div>
        </div>
      </div>
      <div class="dadosCoordenacao">
        <div class="dadosCoordenacaoTitulo">
          <span>Dados da coordenação da ação</span>
        </div>
        <div class="coordenacaoNomeRow">
          <span>Nome:</span>
          <span class="coordenacaoNome">Roberto Carlos Fernandes da Silva</span>
        </div>
        <div class="cpfDepRow">
          <div class="cpfBox">
            <span>CPF: </span>
            <span class="cpf">000.000.000-00</span>
          </div>
          <div class="depBox">
            <span>Departamento: </span>
            <span class="departamento">DACOM</span>
          </div>
        </div>
        <div class="foneEmailRow">
          <div class="foneBox">
            <span>Fone: </span>
            <span>( 43 ) 990000000</span>
          </div>
          <div class="emailBox">
            <span>Email: </span>
            <span>roberto@email.com</span>
          </div>
        </div>
      </div>
      <div class="dadosVoluntario">
        <div class="dadosVoluntarioTitulo">
          <span>Dados do(a) Voluntário(a)</span>
        </div>
        <div class="nomeNascRow">
          <div class="nomeBox">
            <span>Nome: </span>
            <span>Fulano Ribeiro Santos Almeida</span>
          </div>
          <div class="nascBox">
            <span>Data nascimento: </span>
            <span>09/03/2000</span>
          </div>
        </div>
        <div class="cpfNacioRow">
          <div class="cpfVolBox">
            <span>CPF: </span>
            <span>000.000.000-00</span>
          </div>
          <div class="nacioBox">
            <span>Nacionalidade: </span>
            <span>Brasileiro</span>
          </div>
        </div>
        <div class="eEstudanteRow">
          <span>É estudante da UTFPR: </span>
          <span class="eEstudanteOpcao">(X) Sim </span>
          <span class="eEstudanteOpcao">( ) Não </span>
        </div>
        <div class="curPerRaRow">
          <div class="curBox">
            <span>Curso: </span>
            <span>Engenharia de Controle e automação</span>
          </div>
          <div class="perBox">
            <span>Período: </span>
            <span>6</span>
          </div>
          <div class="raBox">
            <span>RA: </span>
            <span>0000000</span>
          </div>
        </div>
        <div class="enderecoRow">
          <span>Endereço: </span>
          <span>Rua Ordem e Progresso, 1230</span>
        </div>
        <div class="cidEstRow">
          <div class="cidBox">
            <span>Cidade: </span>
            <span>Cornélio Procópio</span>
          </div>
          <div class="estBox">
            <span>Estado: </span>
            <span>PR</span>
          </div>
        </div>
        <div class="foneEmailVolRow">
          <div class="foneBoxVol">
            <span>Fone: </span>
            <span>(43) 900000000</span>
          </div>
          <div class="emailBoxVol">
            <span>Email: </span>
            <span>fulano@email.com</span>
          </div>
        </div>
      </div>
      <div class="sintese">
        <div class="sinteseTitulo">
          <span
            >Síntese das atividades a serem desenvolvidas pelo(a)
            voluntário(a)</span
          >
        </div>
        <div class="sinteseRow">
          <span>1 </span>
          <span>Pesquisa de tópicos em ciência e tecnologia</span>
        </div>
        <div class="sinteseRow">
          <span>2 </span>
          <span
            >Produção de textos educativos e atividades para redes sociais</span
          >
        </div>
        <div class="sinteseRow">
          <span>3 </span>
          <span>Elaboração de material para as oficinas</span>
        </div>
        <div class="sinteseRow">
          <span>4 </span>
          <span>Produção de atividades lúdicas</span>
        </div>
        <div class="sinteseRow">
          <span>5 </span>
          <span>Divulgação de oficinas do projeto</span>
        </div>
        <div class="sinteseRow">
          <span>6 </span>
          <span>Ministrar oficinas</span>
        </div>
        <div class="sinteseRow">
          <span>7 </span>
          <span>Descrever resultados e avaliar o andamento do projeto</span>
        </div>
        <div class="sinteseRow">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
        <div class="sinteseRow">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
        <div class="sinteseRow">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
        <div class="sinteseRow">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>

    <div class="page-break"></div>

    <div class="page">
      <div>
        <div class="condicoesGerais">
          <h3 class="docTitle">Condições Gerais</h3>
          <p>
            1. O(a) Voluntário(a) compromete-se a: <br />
            <span
              >a) Dedicar-se às atividades acadêmicas e ações de extensão em
              ritmo compatível com as atividades exigidas pelo curso durante o
              ano letivo.</span
            >
            <br /><span
              >b) Realizar suas atividades nos dias e horários previstos,
              podendo modificá-los, em comum acordo com a Coordenação da ação de
              Extensão.</span
            >
            <br /><span
              >c) Ser assíduo, pontual e agir de forma ética nas ações
              extensionistas.</span
            >
            <br /><span
              >d) Observar as determinações da coordenação alusivas ao bom
              desenvolvimento das ações de extensão.</span
            >
            <br /><span
              >e) Solicitar por escrito, com anuência da Coordenação da ação de
              Extensão, junto à Diretoria de Relações Empresariais e
              Comunitárias – DIREC, ou órgão equivalente de seu Campus,
              permissão para afastamentos superiores a 15 dias
              consecutivos.</span
            >
            <br /><span
              >f) Apresentar relatório parcial e final do trabalho desenvolvido
              à Coordenação da ação de Extensão.</span
            >
          </p>
          <p>
            2. Os trabalhos publicados em decorrência das ações de extensão
            apoiadas pela UTFPR deverão, necessariamente, fazer referência ao
            apoio recebido, com a seguinte expressão: "O presente trabalho foi
            realizado com o apoio da Universidade Tecnológica Federal do Paraná
            - UTFPR".
          </p>
          <p>
            3. O(a) Voluntário(a) declara ser conhecedor da Lei Federal N.
            9.608, de 18 de fevereiro de 1998, especialmente de que o serviço
            voluntário “não gera vínculo empregatício, nem obrigação de natureza
            trabalhista, previdenciária ou afim”.
          </p>
          <p>
            4. O(a) Voluntário(a), estudante da UTFPR, contará com o seguro
            contra acidentes pessoais pago pela UTFPR, conforme dispositivo
            legal pertinente.
          </p>
          <p>
            5. A UTFPR não se responsabiliza por qualquer dano físico ou mental
            causado ao(à) estudante voluntário(a) na execução da ação de
            extensão.
          </p>
          <p>
            6. À coordenação da ação de extensão cabe supervisionar as
            atividades desenvolvidas pelo(a) voluntário(a), nos dias e horários
            previstos, e informar à DIREC sobre o cancelamento deste Termo,
            quando ocorrer, em até 03 dias.
          </p>
          <p>
            7. A UTFPR poderá cancelar ou suspender o vínculo com a atividade
            quando constatado que foram infringidas quaisquer das condições
            constantes deste termo e das normas aplicáveis ao Edital respectivo,
            sem prejuízo da aplicação dos dispositivos legais que disciplinam o
            ressarcimento dos recursos.
          </p>
          <p>
            8. O(a) voluntário(a) e a coordenação da ação de Extensão
            comprometem-se a cumprir as condições expressas neste instrumento e
            as normas que lhe são aplicáveis.
          </p>
        </div>
      </div>
      <div class="locDataRow">
        <div class="locBox">
          <span>Local: </span>
          <span>Cornélio Procópio</span>
        </div>
        <div class="dataBox">
          <span>Data: </span>
          <span>22/08/2022</span>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="aceiteConcordanciaTitle">
        <h3>ACEITE E CONCORDÂNCIA</h3>
        <p>
          (Este documento deverá ser assinado pelo voluntário(a), pela
          coordenação da ação e pela Diretoria de Relações Empresariais e
          Comunitárias, sendo uma cópia arquivada na DIREC).
        </p>
      </div>
      <div class="voCooDiBox">
        <div class="voluntarioRow">
          <div class="voluntarioBox"><span>Voluntário(a)</span></div>
        </div>
        <div class="coordenacaoRow">
          <div class="coordenacaoBox"><span>Coordenação da ação</span></div>
        </div>
        <div class="direcRow">
          <div class="direcBox"><span>DIREC</span></div>
        </div>
      </div>
    </div>
  </body>
</html>
