<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documento PDF</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="page">
      <div class="header">
        <div class="headerImage">
          <img src="./images/brasaooficialcolorido.png" alt="" />
        </div>
        <div class="headerText">
          <p>Ministério da Educação</p>
          <p>Universidade Tecnológica Federal do Paraná</p>
          <p>Diretoria de Relações Empresariais e Comunitárias</p>
          <p>Departamento de Extensão</p>
        </div>
        <div class="headerImage">
          <img src="./images/logo.png" alt="" />
        </div>
      </div>
    </div>

    <div class="page-break"></div>

    <div class="page">
      <!-- Conteúdo da página 2 -->
    </div>

    <div class="page">
      <!-- Conteúdo da página 3 -->
    </div>
  </body>
</html>
